body {
  margin:0px;
  background-color:rgba(215, 116, 128, 0.2549019607843137);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:rgba(0, 0, 0, 0.6392156862745098);
}
#u51 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:106px;
  height:64px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:rgba(0, 0, 0, 0.6392156862745098);
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:15px;
  width:1px;
  height:35px;
  display:flex;
  -webkit-transform:rotate(0.2733123765074073deg);
  -moz-transform:rotate(0.2733123765074073deg);
  -ms-transform:rotate(0.2733123765074073deg);
  transform:rotate(0.2733123765074073deg);
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Обычный", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:15px;
  width:78px;
  height:39px;
  display:flex;
  font-family:"Georgia Обычный", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u53 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.8313725490196079);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:16px;
  width:77px;
  height:32px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:81px;
  width:234px;
  height:39px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.47843137254901963);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.47843137254901963);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.47843137254901963);
  text-transform:none;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:129px;
  width:185px;
  height:36px;
  display:flex;
  font-family:"Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u56 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(188, 2, 2, 0.9725490196078431);
}
#u57 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:174px;
  width:118px;
  height:15px;
  display:flex;
  font-family:"Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(188, 2, 2, 0.9725490196078431);
}
#u57 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:89px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:578px;
  width:97px;
  height:89px;
  display:flex;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.8352941176470589);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1589px;
  width:150px;
  height:40px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:206px;
  width:200px;
  height:200px;
  display:flex;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:423px;
  width:200px;
  height:200px;
  display:flex;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:679px;
  width:200px;
  height:200px;
  display:flex;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:199px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:904px;
  width:200px;
  height:199px;
  display:flex;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1123px;
  width:200px;
  height:200px;
  display:flex;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1350px;
  width:200px;
  height:200px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:91px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1655px;
  width:375px;
  height:81px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1707px;
  width:63px;
  height:19px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:1707px;
  width:41px;
  height:19px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:1707px;
  width:71px;
  height:19px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1707px;
  width:33px;
  height:19px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1707px;
  width:96px;
  height:19px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  text-transform:none;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1674px;
  width:38px;
  height:33px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(105, 53, 53, 0.6470588235294118);
  text-transform:none;
  visibility:hidden;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:1674px;
  width:39px;
  height:33px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:27px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1682px;
  width:38px;
  height:27px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1674px;
  width:32px;
  height:33px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1674px;
  width:36px;
  height:35px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
